.row-header {
    margin: 0 auto;
    padding: 0 auto;
}

.row-content {
    margin: 0 auto;
    padding: 50px 0 50px 0;
    border-bottom: 1px ridge;
    /* min-height: 400px; */
}

.footer {
    background-color: #a58bdb;
    margin: 0px auto;
    padding: 20px 0 20px 0;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0 auto;
    background: #3d00af;
    color: floralwhite;
}

.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}
.h3-header{
    padding: 20px 0 0 0;
}

small{
    color: rgba(80, 78, 78, 0.808)
}
